In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import to_hex
import seaborn as sns
from datetime import datetime
customer_info = pd.read_csv('customer_info.csv')
customer_basket = pd.read_csv('customer_basket.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'customer_info.csv'

In [82]:
customer_info

,Unnamed: 0,customer_id,customer_name,customer_gender,customer_birthdate,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,...,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_spend_petfood,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude
0,0,29930,April Clark,female,01/15/1972 02:27 PM,2.0,2.0,1.0,4.0,7789.0,...,1894.0,457.0,412.0,428.0,386.0,0.158741,2018.0,NaN,38.721807,-9.125534
1,1,6813,Bsc. Paul Ketchum,male,07/31/1944 10:53 AM,0.0,1.0,0.0,4.0,8653.0,...,346.0,394.0,75.0,226.0,73.0,1.227890,2013.0,971840.0,38.734668,-9.163533
2,2,39451,Mary Downing,female,11/13/1989 02:11 PM,2.0,3.0,0.0,7.0,15605.0,...,1971.0,920.0,335.0,192.0,319.0,0.101598,2011.0,NaN,38.787126,-9.147077
3,3,21557,Manuel Kueny,male,08/09/1976 06:23 AM,0.0,0.0,1.0,1.0,13440.0,...,785.0,139.0,679.0,270.0,221.0,0.259943,2009.0,NaN,38.741816,-9.159700
4,4,16415,Phd. Curtis Tharp,male,07/11/1966 08:12 AM,1.0,1.0,1.0,5.0,49250.0,...,1492.0,1046.0,112.0,144.0,244.0,0.317822,2012.0,925367.0,38.785921,-9.149221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34055,34055,37071,Mary Diaz,female,01/20/1999 06:47 PM,1.0,1.0,0.0,2.0,62321.0,...,1687.0,1048.0,379.0,258.0,163.0,0.162331,2018.0,NaN,38.750813,-9.103808
34056,34056,27422,John Gross,male,08/01/1984 07:50 PM,1.0,1.0,0.0,3.0,16084.0,...,568.0,949.0,263.0,319.0,379.0,0.614179,2019.0,985393.0,38.745020,-9.169168
34057,34057,39540,Kathleen Harper,female,09/16/2000 07:22 AM,1.0,0.0,1.0,2.0,14631.0,...,1472.0,368.0,804.0,110.0,228.0,0.535617,2018.0,NaN,38.767834,-9.172368
34058,34058,18367,Msc. Jenny Landry,female,04/09/1961 10:52 AM,1.0,1.0,1.0,4.0,37420.0,...,904.0,1088.0,401.0,376.0,151.0,0.435014,2015.0,953651.0,38.732462,-9.156155
34059,34059,22050,Roy Wilkins,male,03/25/1993 09:59 PM,2.0,1.0,2.0,1.0,8208.0,...,618.0,309.0,110.0,471.0,85.0,0.535108,2016.0,NaN,38.747424,-9.155726

In [83]:
customer_basket

,invoice_id,list_of_goods,customer_id
0,5062209,"['megaman zero 3', 'energy bar', 'pokemon viol...",4925
1,4272512,"['black beer', 'bramble', 'laptop', 'pokemon v...",19046
2,7121052,"['soup', 'shallot', 'cake', 'fresh bread', 'cr...",10318
3,5847748,"['soup', 'cooking oil', 'cereals', 'oil', 'dog...",27283
4,6336114,"['eggplant', 'mint green tea', 'oil', 'bacon',...",16072
...,...,...,...
99995,5389466,"['frozen smoothie', 'avocado', 'dog food', 'ch...",26170
99996,10387390,"['cake', 'antioxydant juice', 'honey', 'toothp...",19691
99997,7103407,"['candy bars', 'spaghetti', 'oil', 'final fant...",1720
99998,4093515,"['shallot', 'cereals', 'oil', 'deodorant', 'me...",24989
99999,6611217,"['soup', 'napkins', 'pokemon violet', 'ratchet...",482

In [92]:
customer_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34060 entries, 0 to 34059
Data columns (total 27 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Unnamed: 0                               34060 non-null  int64
 1   customer_id                              34060 non-null  int64
 2   customer_name                            34060 non-null  object
 3   customer_gender                          34060 non-null  int64
 4   customer_birthdate                       33719 non-null  datetime64[ns]
 5   kids_home                                33311 non-null  float64
 6   teens_home                               33277 non-null  float64
 7   number_complaints                        33038 non-null  float64
 8   distinct_stores_visited                  33379 non-null  float64
 9   lifetime_spend_groceries                 34060 non-null  float64
 10  lifetime_spend_electronics               34060 non-null  float64
 11  typical_hour                             32698 non-null  float64
 12  lifetime_spend_vegetables                33038 non-null  float64
 13  lifetime_spend_nonalcohol_drinks         34060 non-null  float64
 14  lifetime_spend_alcohol_drinks            33379 non-null  float64
 15  lifetime_spend_meat                      34060 non-null  float64
 16  lifetime_spend_fish                      32357 non-null  float64
 17  lifetime_spend_hygiene                   34060 non-null  float64
 18  lifetime_spend_videogames                34060 non-null  float64
 19  lifetime_spend_petfood                   34060 non-null  float64
 20  lifetime_total_distinct_products         34060 non-null  float64
 21  percentage_of_products_bought_promotion  34060 non-null  float64
 22  year_first_transaction                   34060 non-null  float64
 23  loyalty_card_number                      34060 non-null  int64
 24  latitude                                 34060 non-null  float64
 25  longitude                                34060 non-null  float64
 26  customer_age                             33719 non-null  float64
dtypes: datetime64[ns](1), float64(21), int64(4), object(1)
memory usage: 7.0+ MB

FEATURE TRANSFORMATION: <br>
- customer_gender --> 0,1 <br>
- customer_birthdate --> customer_age <br>
separate customer_name from customer_educlevel <br>
- loyalty_card_number into 0,1 to has_loyalty_card <br>
percentage_of_products_bought_promotion into value <br>
year_first_transaction to integer <br>
- years_active = current_year - year_first_transaction <br>

In [85]:
customer_info['customer_gender'] = customer_info['customer_gender'].map({'female': 1, 'male': 0})

In [86]:
customer_info['customer_birthdate'] = pd.to_datetime(
    customer_info['customer_birthdate'], format='%m/%d/%Y %I:%M %p')

current_year = datetime.now().year
customer_info['customer_age'] = current_year - customer_info['customer_birthdate'].dt.year

In [67]:
# List of known education titles / prefixes
education_titles = ['Phd.', 'Msc.', 'Bsc.', 'MBA.']

# Function to extract education level and clean name
def split_name(name):
    parts = name.strip().split()
    if parts[0] in education_titles:
        educ = parts[0]
        clean_name = ' '.join(parts[1:])
    else:
        educ = None
        clean_name = name.strip()
    return pd.Series([clean_name, educ])

# Apply the function
customer_info[['customer_name_clean', 'customer_educlevel']] = customer_info['customer_name'].apply(split_name)

# Replace original name column if you want
customer_info['customer_name'] = customer_info['customer_name_clean']
customer_info.drop(columns='customer_name_clean', inplace=True)

In [88]:
customer_info['loyalty_card_number'] = customer_info['loyalty_card_number'].notna().astype(int)

In [93]:
customer_info['years_active'] = 2025 - customer_info['year_first_transaction']